.CardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.MembersImageContainer {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: 6px;
}

.PhotoStack {
    position: relative;
    
    height: 100%;
    width: calc(1024px * 0.40); /*Ajustar tamanho*/

    display: inline-block;
    max-width: 100%;

    line-height: 0;
    vertical-align: top;
}

.MembersImage {
    max-width: 100%;
    height: auto;

    border: 2px solid #a80000;
    border-radius: 6px;

    box-shadow: 0 0 12px rgba(209, 0, 0, 0.7);
}

.Hitmap {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    display: block;

    z-index: 2;
}

.Hitmap path {
    cursor: pointer;
}


.BurningSkull {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    z-index: 3;

    font-size: 34px;
    color: #000000c4;

    background: radial-gradient(
        circle,
        #f50000 0%,
        rgb(36, 0, 0) 70%
    );

    border-radius: 50%;
    border: 2px solid #a80000;

    padding: 5px;
}