.Root {
	display: flex;
	background-color: rgb(24, 24, 24);
	border-bottom: 2px solid #ffffff;
	border-radius: 6px;
	display: flex;
	flex-direction: row;
	justify-content: space-around
}

.Trigger {
	all: unset;
	border-radius: 0px;
	border-right: 1px solid #ffffff;
	padding: 8px 12px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	font-size: 20px;
	gap: 2px;
	width: 100%;
	cursor: pointer;
	position: relative;
	z-index: 1;
	background-color: rgb(24, 24, 24);
	overflow: hidden;
	transition: color 0.3s ease;
}

.Trigger::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80%;
	transform: translateY(70%);
	transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	z-index: -1;
}

.SideRock{
	border-radius: 0 6px 6px 0;
	border: none;
}

.Home{
	border-radius: 6px 0 0 6px;
}

.SideRock::before {
	background: linear-gradient(0deg, #7E0000c2, transparent);
}

.Acoustic::before {
	background: linear-gradient(0deg, #7b2f00c2, transparent);
}

.Ozzborns::before {
	background: linear-gradient(0deg, #4A035Cc2, transparent);
}

.Home::before {
	background: linear-gradient(0deg, rgba(182, 182, 182, 0.3), transparent);
}

.Trigger:hover::before {
	transform: translateY(0);
}


